.map-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.submit-route-btn {
    margin-top: 10px;
    position: relative;
    padding: 12px 20px;
    /* iPhone XR向けにボタンのサイズを大きくする */
    font-size: 18px;
    /* フォントサイズを大きくする */
}

.loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    /* ここにスピナーのスタイルを追加 */
}

/* iPhone XRと同等の画面サイズのデバイス向けのスタイル */
@media (max-width: 828px) and (max-height: 1792px) {
    /* ここにiPhone XR向けのスタイルを追加 */
}